In [4]:
import plotly.express as px
import pandas as pd
import geojson
import json
import geopandas as gpd

gdf = gpd.read_file(r"C:\Users\denis.iglesias\Documents\Project_VI_IDC\test\indice3ans_epsg_2056.geojson")
display(gdf['geometry'].head())
gdf = gdf.set_crs('epsg:2056', allow_override=True)
display(gdf['geometry'].head())
gdf = gdf.to_crs('epsg:4326')
display(gdf['geometry'].head())

gdf.to_file(r"C:\Users\denis.iglesias\Documents\Project_VI_IDC\test\indice3ans_epsg_4326.geojson", driver='GeoJSON')

0    MULTIPOLYGON (((2499226.60910 1118153.38150, 2...
1    MULTIPOLYGON (((2499226.60910 1118153.38150, 2...
2    MULTIPOLYGON (((2500487.03060 1118790.81660, 2...
3    MULTIPOLYGON (((2500487.03060 1118790.81660, 2...
4    MULTIPOLYGON (((2499261.38270 1118999.65540, 2...
Name: geometry, dtype: geometry

0    MULTIPOLYGON (((2499226.609 1118153.381, 24992...
1    MULTIPOLYGON (((2499226.609 1118153.381, 24992...
2    MULTIPOLYGON (((2500487.031 1118790.817, 25004...
3    MULTIPOLYGON (((2500487.031 1118790.817, 25004...
4    MULTIPOLYGON (((2499261.383 1118999.655, 24992...
Name: geometry, dtype: geometry

0    MULTIPOLYGON (((6.13290 46.20727, 6.13282 46.2...
1    MULTIPOLYGON (((6.13290 46.20727, 6.13282 46.2...
2    MULTIPOLYGON (((6.14909 46.21319, 6.14903 46.2...
3    MULTIPOLYGON (((6.14909 46.21319, 6.14903 46.2...
4    MULTIPOLYGON (((6.13317 46.21489, 6.13315 46.2...
Name: geometry, dtype: geometry

In [3]:
import plotly.express as px
import pandas as pd
import geojson
import json
import geopandas as gpd

In [5]:
gdf = gpd.read_file(r"C:\Users\denis\sourcetree\Project_VI_IDC\test\indice3ans_epsg_4326.geojson")

In [8]:
gdf = gdf[['EGID', 'ADRESSE', 'ANNEE', 'SRE', 'INDICE', 'geometry']]

In [9]:
gdf.to_file(r"C:\Users\denis.iglesias\Documents\Project_VI_IDC\test\indice3ans_epsg_4326_light.geojson", driver='GeoJSON')

In [4]:
with open(r"C:\Users\denis.iglesias\sourcetree\Project_VI_IDC\test\indice3ans_epsg_4326_light.geojson", encoding='latin1') as f:
    geojson_idc = geojson.load(f)

In [22]:
display(geojson_idc['features'][0]['geometry']['coordinates'][0][0][0][1])

nom_rue = 'Rue CAVOUR 22'

for i in range(1000000):
    if geojson_idc['features'][i]['properties']['ADRESSE'] == nom_rue:
        coordonnees_rue_lon = geojson_idc['features'][i]['geometry']['coordinates'][0][0][0][0]
        coordonnees_rue_lat = geojson_idc['features'][i]['geometry']['coordinates'][0][0][0][1]
        break

46.207271

33630

In [23]:
df1 = pd.read_csv(r"C:\Users\denis.iglesias\sourcetree\Project_VI_IDC\SCANE_INDICE_MOYENNES_3_ANS.csv", sep=';', usecols= ['ANNEE', 'EGID', 'ADRESSE', 'SRE', 'INDICE'], encoding='latin1')

In [48]:
import numpy as np

df1['ADRESSE'] = df1['ADRESSE'].astype(str)
dropdown_rues = df1.ADRESSE.unique()
dropdown_rues = np.sort(dropdown_rues)
display(dropdown_rues)
display(df1)

array([" L'Ancienne-Route 11", " L'Ancienne-Route 15",
       " L'Ancienne-Route 17", ..., 'rue corraterie 22',
       'rue de Berne 57 bât cour', 'rue du Nant 22'], dtype=object)

               EGID                  ADRESSE  ANNEE      SRE  INDICE
0         1011407.0        Rue du Prieuré 25   2014  1290.10   487.0
1         1011743.0           Rue du Léman 8   2014  1074.70   590.0
2         1022643.0      Chemin de Foulon 15   2014   195.70   383.0
3       295112850.0  Rue de La-Tambourine 12   2014  1994.00   352.0
4         2034774.0    Chemin du Centurion 5   2014  1468.00   553.0
...             ...                      ...    ...      ...     ...
182586    1019005.0     Chemin de Vert-Pré 3   2017  2187.00   482.0
182587    1003156.0   Rue Adolphe-FONTANEL 7   2017   835.00   553.0
182588    1011204.0          Rue VOLTAIRE 10   2016  1943.94   405.0
182589    1026995.0  Route de Sous-Moulin 39   2015  6316.28   668.0
182590    1015957.0        Route de Meyrin 5   2017  1700.00   509.0

[182591 rows x 5 columns]